# API 使用 host network，127.0.0.1 指向服务器上的 MySQL 和 Redis。
SPRING_DATASOURCE_URL=jdbc:mysql://127.0.0.1:3306/hypblog?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=GMT%2B8&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=hypblog
SPRING_DATASOURCE_PASSWORD=change-me
SPRING_REDIS_HOST=127.0.0.1
SPRING_REDIS_PORT=6379
SERVER_ADDRESS=127.0.0.1
SERVER_PORT=18090
UPLOAD_FILE_PATH=/opt/hypblog/upload/
LOGGING_FILE_NAME=/opt/hypblog/log/blog-api.log
